# $Id: combat.cfg 373 2006-06-17 18:27:33Z austinheilman $
#
# Purpose:
# Defines some combat-specific options.
#
# Structure:
#
#[DisplayParrySuccessMessages	(0/1)]
#[SingleCombat			(0/1)]
#[WarmodeInhibitsRegen		(0/1)]
#[WarModeDelay			(int seconds for delay)]
#

DisplayParrySuccessMessages	0
SingleCombat			0
WarmodeInhibitsRegen		0
WarModeDelay			2