# $Id: pkg.cfg 523 2006-06-30 17:36:14Z tekproxy $
#

Enabled		1
Name		partysystem

Version		1.2

CoreRequired	97

Creator		tekproxy
Email		tekproxy@gmail.com

Maintainer	tekproxy
Email		tekproxy@gmail.com

#Conflicts	none
#Requires	none
